name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Build app docker image and push to DockerHub
        run: make build
        env:
          APP_NAME: price_checker
          BUILD_ID: v1.0.0
          EXECUTOR_IMAGE: jeffreycai/musketeers
          DOCKERHUB_USERNAME: bluestreamjc
          VAULT_PASSWORD: Interview_01!

  test:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Build app docker image and push to DockerHub
        run: make test
        env:
          APP_NAME: price_checker
          BUILD_ID: v1.0.0
          EXECUTOR_IMAGE: jeffreycai/musketeers
          DOCKERHUB_USERNAME: bluestreamjc
          VAULT_PASSWORD: Interview_01!
