name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # workflow_run
  workflow_run:
    workflows: ["Run Tests"]
    branches: [main]
    types: 
      - completed

  workflow_dispatch:

# jobs
jobs:
  # build job
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Slack Notification
        uses: bryannice/gitactions-slack-notification@2.0.0
        env:
          SLACK_INCOMING_WEBHOOK: ${{ secrets.SLACK_INCOMING_WEBHOOK }}
          SLACK_MESSAGE: 'Workflow triggered. ''Build'' stage started.'
          SLACK_TITLE: 'Build stage has started'

      - name: Build app docker image and push to DockerHub
        run: make build
        env:
          APP_NAME: price_checker
          BUILD_ID: v1.0.0
          EXECUTOR_IMAGE: jeffreycai/musketeers
          DOCKERHUB_USERNAME: bluestreamjc
          VAULT_PASSWORD: Interview_01!

      - name: Slack Notification
        uses: bryannice/gitactions-slack-notification@2.0.0
        env:
          SLACK_INCOMING_WEBHOOK: ${{ secrets.SLACK_INCOMING_WEBHOOK }}
          SLACK_MESSAGE: '''Build'' stage ended.'
          SLACK_TITLE: 'Build stage has ended with ' + env.WORKFLOW_CONCLUSION


  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v2

      - name: Build app docker image and push to DockerHub
        run: make test
        env:
          APP_NAME: price_checker
          BUILD_ID: v1.0.0
          EXECUTOR_IMAGE: jeffreycai/musketeers
          DOCKERHUB_USERNAME: bluestreamjc
          VAULT_PASSWORD: ${{ secrets.VAULT_PASSWORD }}
